body {
  padding-top: 5rem;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.LI-col, .LI-header, .LI-name, .LI-title, .LI-more-info, .LI-field, .LI-footer, .LI-row {
  font-family: Helvetica, Arial, sans-serif;
  font-size:99px;
}
